version: '3.9'

services:
  backend:
    build: ./backend/api
    restart: always
    env_file: ./backend/api/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend/api/uploads:/usr/src/app/uploads
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: ipet
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
