@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */


  .robin-logo {
    width: 10rem; /* Adjust as needed */
    height: 10rem;
  }


  .typing-text {
    display: inline-block;
    color: white;
    width: 0;
    overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
    animation: typing 3s steps(30, end) forwards,
               blink 0.75s step-end infinite;
    border-right: 2px solid white;


   
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


  @layer utilities {
    .perspective {
      perspective: 1000px;
    }
    
    .preserve-3d {
      transform-style: preserve-3d;
    }
    
    .backface-hidden {
      backface-visibility: hidden;
    }
    
    .rotate-y-180 {
      transform: rotateY(180deg);
    }
  }

  /* @layer components{
  .nav-link {
    @apply text-black hover:text-[#2D387D] text-[16px] transition-colors;
  }
  .nav-dropdown-link {
    @apply block text-black hover:text-[#2D387D] py-2 transition-colors;
  }
  .mobile-nav-link {
    @apply text-black hover:text-[#2D387D] text-lg font-medium py-2;
  }
  .mobile-dropdown-link {
    @apply text-black hover:text-[#2D387D] py-2 pl-4;
  }
  .action-button {
    @apply bg-[#2D387D] text-white text-[16px] font-medium px-6 py-2 rounded-[5px] hover:bg-[#1e2655] transition-colors;
  }
  .mobile-action-button {
    @apply w-full bg-[#2D387D] text-white text-[14px] font-medium py-3 rounded-[5px] hover:bg-[#1e2655] transition-colors;
  }
} */

